// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.circle{
  border-radius: 50%;
}

.cover{
  background-size: cover;
  background-position: center;
}
